<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="static/css/especialista_principal_page.css" />
    <script src="static/js/especialista_principal_page.js" defer></script>
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
        <h2>Menú</h2>
        <ul>
          <li>
            <a href="especialista_principal_page" class="selected"
              >Gestión de usuarios</a
            >
          </li>
          <li>
            <a href="especialista_principal_rotaciones_page">Rotaciones</a>
          </li>
        </ul>
      </aside>

      <main class="main-content">
        <header class="top-bar">
          <h1>Panel de Usuarios</h1>
          <div class="search-container">
            <input
              type="text"
              id="inputBuscar"
              placeholder="Buscar..."
              class="search-input"
            />
            <button id="btnBuscar" class="search-button">Buscar</button>
            <button id="btnRecargar" class="reload-button">reiniciar</button>
          </div>
          <button id="btnCrearUsuario">Crear Usuario</button>
        </header>

        <section class="table-section">
          <table id="usuariosTabla">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </section>
      </main>
    </div>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span id="modalCerrar">&times;</span>
        <h2 id="modalTitulo">Crear Usuario</h2>
        <form id="formularioUsuario">
          <label for="username">Nombre:</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <label for="rol">Rol:</label>
          <select id="modalEditRol" name="rol" required>
            <option value="guardia">Guardia</option>
            <option value="especialista">Especialista</option>
            <option value="especialista_principal">
              Especialista Principal
            </option>
          </select>
          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>

    <div id="modalEdit" class="modal">
      <div class="modal-content">
        <span id="modalCerrarEdit">&times;</span>
        <h2 id="modalTitulo">Eliminar Usuario</h2>
        <form id="formularioUsuarioEdit">
          <label for="username">Nombre:</label>
          <input type="text" id="modalEditUsername" name="username" required />
          <label for="password">Password:</label>
          <input
            type="password"
            id="modalEditPassword"
            name="password"
            required
          />

          <label for="rol">Rol:</label>
          <select id="rol" name="rol" required>
            <option value="guardia">Guardia</option>
            <option value="especialista">Especialista</option>
            <option value="especialista_principal">
              Especialista Principal
            </option>
          </select>
          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </body>
</html>
