<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Panel de especialista principal</title>
    <link
      rel="stylesheet"
      href="static/css/especialista_principal_rotaciones_page.css"
    />
    <script
      src="static/js/especialista_principal_rotaciones_page.js"
      defer
    ></script>
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
        <img
          src="/static/imagenes/logo_etecsa.jpg"
          alt="logo_etecsa"
          class="logo"
        />

        <ul>
          <li>
            <a href="especialista_principal_page">Usuarios y métricas</a>
          </li>
          <li>
            <a href="especialista_principal_rotaciones_page" class="selected"
              >Rotaciones</a
            >
          </li>
        </ul>
        <button
          onclick="window.location.href = 'cerrar_sesion'"
          class="btn_cerrarSesion"
        >
          Cerrar sesión
        </button>
      </aside>

      <main class="main-content">
        <header class="top-bar">
          <h1>Especialista principal</h1>
          <div class="search-container">
            <input type="date" id="fechaSelector" />
            <button class="search-button">Buscar</button>
            <button class="reload-button" onclick="location.reload()">
              Recargar
            </button>
            <button id="btnCrearRotacion" class="search-button">Agregar</button>
          </div>
        </header>

        <section class="table-section">
          <table id="rotacionesTabla">
            <thead>
              <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Fecha_entrada</th>
                <th>Entrada</th>
                <th>fecha_salida</th>
                <th>Salida</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </section>
      </main>
    </div>

    <!-- Modal Crear -->
    <div class="modal" id="modalCrear">
      <div class="modal-content">
        <span id="modalCerrar">&times;</span>
        <h3>Agregar Rotación</h3>
        <form id="formularioRotacion">
          <label>
            Usuario:
            <select id="nombre" required>
              <option value="">Selecciona un usuario</option>
            </select>
          </label>

          <div class="input-group">
            <label>
              Fecha Entrada:
              <input type="date" id="fechaEntrada" required />
            </label>
            <label>
              Hora Entrada:
              <input type="time" id="horaEntrada" required />
            </label>
          </div>

          <div class="input-group">
            <label>
              Fecha Salida:
              <input type="date" id="fechaSalida" required />
            </label>
            <label>
              Hora Salida:
              <input type="time" id="horaSalida" required />
            </label>
          </div>

          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </body>
</html>
