<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Procedimientos</title>
    <link rel="stylesheet" href="static/css/especialista_page.css" />
    <script src="static/js/especialista_page.js" defer></script>
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
              <img src="/static/imagenes/logo_etecsa.jpg" alt="logo_etecsa" class="logo">

        <ul>
          <li>
            <a href="especialista_page" class="selected">Procedimientos</a>
          </li>
          <li><a href="especialista_consultas_page">Consultas</a></li>
        </ul>
        <button onclick="window.location.href = 'cerrar_sesion'" class="btn_cerrarSesion">Cerrar sesión</button>
      </aside>

      <main class="main-content">
        <header class="top-bar">
          <h1>Procedimientos</h1>
          <div class="search-container">
            <input
              type="text"
              id="inputBuscar"
              placeholder="Buscar..."
              class="search-input"
            />
            <button id="btnBuscar" class="search-button">Buscar</button>
            <button id="btnRecargar" class="reload-button">reiniciar</button>
          </div>
          <button id="btnCrearProcedimiento">Crear Procedimiento</button>
        </header>

        <section class="card-section"></section>
      </main>
    </div>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span id="modalCerrar">&times;</span>
        <h2 id="modalTitulo">Crear Procedimiento</h2>
        <form id="formularioProcedimiento">
          <input type="hidden" name="rol" value="especialista" />
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" required name="username" />

          <label for="descripcion">Descripción:</label>
          <textarea
            id="descripcion"
            rows="4"
            required
            name="descripcion"
          ></textarea>

          <label for="archivo">Archivo Adjunto:</label>
          <input
            type="file"
            id="archivo"
            accept=".pdf,.docx,.xlsx"
            name="archivo"
          />

          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------->
    <div id="modalEdit" class="modal">
      <div class="modal-content">
        <span id="modalCerrarEdit">&times;</span>
        <h2 id="modalTitulo">Editar Procedimiento</h2>
        <form id="formularioProcedimientoEdit">
          <!-- <input type="hidden" name="rol" value="especialista" /> -->
          <label for="nombre">Nombre:</label>
          <input type="text" id="modalEditNombre" required name="username" />

          <label for="descripcion">Descripción:</label>
          <textarea
            id="modalEditDescripcion"
            rows="4"
            required
            name="descripcion"
          ></textarea>

          <label for="archivo">Archivo Adjunto:</label>
          <input
            type="file"
            id="modalEditArchivo"
            accept=".pdf,.docx,.xlsx"
            name="archivo"
          />

          <button type="submit">Guardar</button>
        </form>
      </div>
    </div>
  </body>
</html>
