<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Panel de especialista principal</title>
    <link
      rel="stylesheet"
      href="static/css/guardia_rotaciones_page.css"
    />
    <script
      src="static/js/guardia_rotaciones_page.js"
      defer
    ></script>
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
        <img
          src="/static/imagenes/logo_etecsa.jpg"
          alt="logo_etecsa"
          class="logo"
        />

        <ul>
          <li><a href="guardia_page" class="selected">Procedimientos</a></li>
          <li>
            <a href="guardia_consultas_page">Consultas</a>
          </li>
          <li>
            <a href="guardia_rotaciones_page">Rotaciones</a>
          </li>
        </ul>
        <button
          onclick="window.location.href = 'cerrar_sesion'"
          class="btn_cerrarSesion"
        >
          Cerrar sesión
        </button>
      </aside>

      <main class="main-content">
        <header class="top-bar">
          <h1>Especialista principal</h1>
          <div class="search-container">
            <input type="date" id="fechaSelector" />
            <button class="search-button">Buscar</button>
            <button class="reload-button" onclick="location.reload()">
              Recargar
            </button>
          </div>
        </header>

        <section class="table-section">
          <table id="rotacionesTabla">
            <thead>
              <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Fecha_entrada</th>
                <th>Entrada</th>
                <th>fecha_salida</th>
                <th>Salida</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </section>
      </main>
    </div>

  </body>
</html>
